* {
  box-sizing: border-box;
}

main {
  background-color: lightgrey;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  border: solid grey 2px;
  background-color: #404041;
  display: block;
  color: #dd1972;
  margin: 0;
}

h1 {
  padding-top: 35px;
  margin: 0;
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.light {
  font-weight: 300;
}

h2 {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0px 0px 15px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  background: transparent;
}

h2:before, 
h2:after {
  color: white;
  content:'';
  flex: 1;
  border-bottom: solid 1px;
  margin: 13px;
}

.header-txt {
  height: 175px;
  width: 575px;
  margin: 0 auto;
}

body {
  background-color: lightgrey;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  width: 50%;
}

.game {
  margin: 0;
  background-color: #F7F7F7;
}

.scoreboard {
  /*padding: 2%;*/
}

h3 {
  color: #6e6e6e;
  font-size: 1.2rem;
  margin: 0;
}

h4 {
  color: #6e6e6e;
  font-weight: 300;
  font-size: 1rem;
  margin: 15px 3px 2px;
}

.show-range {
  padding: 10px 0px 0px 18px;
}

article {
  background-color: #fff;
  padding: 15px,
  margin: 20px;
  border: solid #D0D2D3 2px;
}

form {
  /*display: flex;*/
  background-color: #fff;
  padding: 15px;
  margin: 20px;
  border: solid #D0D2D3 2px;
}

.player-input {
  justify-content: space-around;
}

input {
  height: 2rem;
  display: inline-block;
  width: 40%;
  font-size: 1.1rem;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 27%
  border-radius: 25px;
  margin: 2%;
}

/*/////button states*/

button:disabled {
  background-color: #D0D2D3;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  width: 80%;
  padding: 7px;
  border-radius: 22px;
}

button:enabled {
  background-color: #6e6e6e;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  width: 80%;
  padding: 7px;
  border-radius: 22px;
}

button:hover {
  background-color: #DD1972 ;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  width: 80%;
  padding: 7px;
  border-radius: 22px;
}

.score {
  display: inline-block;
  width: 40%;
  padding: 0rem;
  margin: 15px 25px 0px 25px;
  text-align: center;
  border-left: solid #d0d2d3 1px;
}

.score-name {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0;
  margin: 0px 15px;
}

h5 {
  font-weight: 300;
  font-size: .9rem;
  color: #6e6e6e;
  padding: 0;
  margin: 0rem .5rem;
}

.score-guess {
  color: #DD1972;
  font-size: 5.5rem;
  font-style: bold;
  font-weight: 700;
  padding: 0;
  margin: 15px 25px 0px 25px;
}

#chal1-status,
#chal2-status {
  font-size: 1.3rem;
  padding: 0;
  margin: 0px 25px;
}

/*ul {
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
  justify-content: space-around;
}*/


/*/////media queries*/