* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  border: solid grey 2px;
  background-color: #404041;
  color: #dd1972;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

h1 {
  margin-bottom: .1rem;
}

h2 {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
  display: flex;
  background: transparent;
}

h2:before, 
h2:after {
  color: white;
  content:'';
  flex: 1;
  border-bottom: solid 1px;
  margin: auto 0.25em; 
}

#header-text {
  height: 200px;
  width: 560px;
  margin: 0 auto;
}

h3 {
  color: #404041;
  font-size: 1.5rem;
  margin: .3rem .1rem .4rem .0rem;
}

h4 {
  color: 404041;
}

label {
  color: 404041;
}

input {
  height: 2rem;
  display: inline-block;
  width: 30%;
  font-size: 1.1rem;
  /*justify-content: space-between;*/
}

button:enabled {
  background-color: #6e6e6e;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  width: 80%;
  padding: .4rem;
  border-radius: 22px;
}

button:disabled {
  background-color: #D0D2D3;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  width: 80%;
  padding: .4rem;
  border-radius: 22px;
}

button:hover {
  background-color: #DD1972 ;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  width: 80%;
  padding: .4rem;
  border-radius: 22px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 25%
  border-radius: 25px;
  margin: 2%;
}

.light {
  font-weight: 300;
}

main {
  display: flex;
  justify-content: center;
}

section {
  margin-width: 2%;
  width: 50%;
}

.game {
  margin-top: 0%;
  background-color: #F7F7F7;
}

.scoreboard {
  padding: 2%;
}


form {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  border: solid #D0D2D3 2px;
}

article {
  background-color: #fff;
  padding: 1rem 0rem 1rem 1rem;
  margin: 1rem;
  border: solid #D0D2D3 2px;
}



ul {
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
  justify-content: space-around;
}
